<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    # Redirige todo lo que no sea archivo o carpeta existente a index.php
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php [L]
</IfModule>
